* {
  box-sizing: border-box;
  color: #2c2c2c;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
body {
  background-color: beige;
  margin: 0px;
}
h1 {
  padding-top: 150px;
  margin: 0px;
  font-size: 80px;
  text-align: center;
}
h2 {
  padding: 2rem 0rem;
  margin: 0px;
  font-size: 80px;
}
h3,
h4 {
  margin: 5px 0px;
}
p {
  font-size: 1.2rem;
  margin: 5px 0px;
}
.menu-principal {
  height: 50px;
  padding: 0 10% 0 10%;
  display: flex;
  justify-content: space-around;
}
.sticky {
  background-color: beige;
  position: fixed;
  top: 0;
  width: 100%;
}
nav a {
  color: #24a586;
  display: inline-flex;
  font-size: 18px;
  align-items: center;
}
nav a:visited {
  color: #24a586;
}
.frase-home {
  font-style: italic;
  font-size: 2rem;
  text-align: center;
  margin: 4rem 1rem;
}
.link-center-home {
  display: grid;
  justify-content: space-around;
  color: #24a586;
  font-size: 20px;
  margin-top: 12rem;
}
.about-div {
  padding: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.img-about_me {
  border-radius: 50%;
  width: 300px;
  place-self: center;
}
mark {
  background-color: #2c2c2c;
  color: white;
  padding: 0rem 1rem;
}

li {
  list-style-type: none;
}
.social-media-list {
  display: flex;
  justify-content: space-evenly;
}
.social {
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #24a586;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social :hover {
  background-color: #19745e;
}

section {
  height: 100vh;
  margin: 0px;
  padding: 5rem 10%;
  align-content: space-between;
}

#portfolio {
  height: auto;
}
#portfolio ul {
  margin: 0;
  padding: 0;
  display: inline-flex;
  gap: 5px;
}
#portfolio ul li {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
}
#portfolio ul li h3 {
  margin: -30px 0px 30px 0px;
}
#portfolio ul li mark {
  padding: 0.5em 1em;
}
form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 5px;

  background-color: #f0f0f0;
}
input {
  height: 40px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-family: system-ui;
}
textarea {
  border-radius: 5px;
  resize: none;
  margin: 5px;
  border-width: 0px;
  border: none;
  font-family: system-ui;
}
.boleta-nav {
  height: 20px;
  width: 20px;
  background-color: #24a586;
  border-radius: 20px;
}
.form-button {
  margin: 5px;
  border-radius: 5px;
  border-width: 0px;
  border: none;
  height: 40px;
  background-color: #7c7c7c;
  float: right;
}
footer {
  align-items: center;
  display: flex;
  background-color: #24a586;
  height: 50px;
  display: flex;
  justify-content: space-around;
  color: white;
}
.menu-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  nav a {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  section {
    padding: 0;
  }
  .menu-mobile {
    display: block;
  }
  .menu-mobile: .menu-principal {
    display: none;
  }
}
