* {
  box-sizing: border-box;
  color: #2c2c2c;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
body {
  background-color: beige;
  margin: 0px;
}
h1 {
  padding-top: 150px;
  margin: 0px;
  font-size: 80px;
  text-align: center;
}
mark {
  background-color: #2c2c2c;
  color: white;
  padding: 0rem 1rem;
}
h1 mark span {
  color: white;
}
h1 span.lletra-girada-esquerra {
  display: inline-block;
  transform: rotateZ(350deg);
}
h1 span.lletra-girada-dreta {
  display: inline-block;
  transform: rotateZ(10deg);
}
h2 {
  padding: 2rem 0rem;
  margin: 0px;
  font-size: 80px;
}
h3,
h4 {
  margin: 5px 0px;
}
#home {
  padding: 0px;
}
p {
  font-size: 1.2rem;
  margin: 5px 0px;
}
.svg-dalt {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.svg-baix {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
/***************************************
 MENU 
*/
#menu {
  background-color: transparent;
}
#menu nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#menu nav a {
  flex: 1;
  padding: 1em 0;
  text-align: center;
  font-size: 1.3em;
}
.sticky {
  flex-direction: row-reverse;
  /*position: fixed;*/
  top: 0;
  width: 100%;
}
#toggle-menu-mobile {
  display: none;
  float: right;
  padding: 0.9em;
  height: 75px;
  width: 75px;
  font-size: 1.8em;
  line-height: 0.9em;
}

/***************************************/
.frase-home {
  font-style: italic;
  font-size: 2rem;
  text-align: center;
  margin: 4rem 1rem;
}
.link-center-home {
  display: grid;
  justify-content: space-around;
  color: #24a586;
  font-size: 20px;
  margin-top: 12em;
}
.about-div {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-div p {
  padding: 1em;
  max-width: 500px;
}
.about-div p::first-letter {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid;
  font-weight: bold;
  color: #24a586;
  font-size: 3em;
  font-weight: bold;
  float: left;
}

.img-about_me {
  border-radius: 50%;
  width: 300px;
  place-self: center;
}

li {
  list-style-type: none;
}
.social-media-list {
  display: flex;
  gap: 1em;
  justify-content: space-evenly;
  padding: 0;
}
.social span,
.social i:hover {
  background-color: transparent;
}
.social-media-list a {
  flex: 1;
}
.social {
  text-align: center;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.social i {
  font-size: 2em;
}
.social :hover {
  background-color: #19745e;
}
.detall-compte-social {
  font-size: 0.8em;
}
section {
  position: relative;
  padding: 0;
  font-size: 0.9em;
  min-height: 100vh;
  margin: 0px;
}
.section-wrapper {
  align-content: space-between;
  padding: 5rem 10%;
}

#portfolio {
  height: auto;
}
#portfolio ul {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  min-height: 200px;
  width: 100%;
}
#portfolio ul li {
  min-width: 350px;
  flex: 1;
  margin-bottom: 2em;
}
#portfolio ul li img {
  width: 100%;
}
.tarjeta {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
}
.sombra {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.7);
}

#portfolio ul li h3 {
  margin: -30px 0px 30px 0px;
}
#portfolio ul li mark {
  padding: 0.5em 1em;
}
form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 5px;

  background-color: #f0f0f0;
}
input {
  height: 40px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-family: system-ui;
}
textarea {
  border-radius: 5px;
  resize: none;
  margin: 5px;
  border-width: 0px;
  border: none;
  font-family: system-ui;
}
.boleta-nav {
  height: 20px;
  width: 20px;
  background-color: #24a586;
  border-radius: 20px;
}
.form-button {
  margin: 5px;
  border-radius: 5px;
  border-width: 0px;
  border: none;
  height: 40px;
  background-color: #7c7c7c;
  float: right;
}
footer {
  align-items: center;
  display: flex;
  background-color: #24a586;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

footer p {
  color: white;
}

.content-contact {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2em;
}
.contact-form,
.social-media-content {
  flex: 1;
}

@media (max-width: 601px) {
  /* For mobile phones: */
  h1 {
    font-size: 3.2em;
  }
  h2 {
    font-size: 2.9em;
    padding: 0.2em 0;
  }
  h3 {
    font-size: 1.8em;
  }
  .sticky {
    position: fixed;
  }
  #menu {
    background-color: #24a586;
  }

  p {
    font-size: 1em;
  }
  .about-div p {
    max-width: 350px;
  }
  #portfolio ul li {
    min-width: 220px;
  }
  #portfolio ul li mark {
    padding: 10px;
  }
  section {
    padding: 0;
  }
  form {
    padding: 2em 0.8em;
  }

  .about-div {
    padding: 0;
    gap: 0.5em;
  }

  .img-about_me {
    width: 180px;
  }
  input,
  textarea {
    font-size: 1.2em;
  }
  .social-media-list {
    flex-wrap: wrap;
  }
  .social-media-list a {
    margin-bottom: 10px;
  }
  .content-contact {
    flex-direction: column;
  }
  .social {
    height: 100px;
  }
  /*************************************
  MENU
  */
  #toggle-menu-mobile {
    display: block;
  }
  #menu nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .menu-hidden {
    display: none;
  }
  .link-center-home {
    margin-top: 4em;
  }
  footer {
    font-size: 0.8em;
  }
}
